<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
{{.TimeOfDay}}
{{range .Foods}}
{{.Name}} - {{.Calories}}
{{end}}
{{end}}

</body>
</html>